Source: deletor
Section: utils
Priority: optional
Maintainer: pashkov256 <your.email@example.com>
Build-Depends: debhelper (>= 11), golang-go

Package: deletor
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A powerful file deletion tool with TUI and CLI interfaces
 Deletor is a handy file deletion tool that combines a powerful text interface (TUI)
 with visual directory navigation, and classic command line mode (CLI). It allows
 you to quickly find and delete files by extension and size, both interactively
 and through scripts.